<div class="login">
  <form class="custom-form" method="post">
    <h1>Login</h1>
    <input
      type="email"
      [(ngModel)]="usuario.correo"
      name="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="usuario.password"
      name="password"
      placeholder="Password"
      required="required"
    />
    <button class="in" type="submit" (click)="login()">Iniciar Sesion</button>
    <div>
      <button class="re" type="submit" (click)="register()">Registro</button>
    </div>
    <lib-toastify-toast-container></lib-toastify-toast-container>
  </form>
</div>
